<template>
  <main>
  <h1 style="text-align:center;color:red">Register Page </h1>

  <div class="mt-8">
    <div class = "container mt-auto px-8" >

      <form @submit.prevent = "onSubmit">
          <div class = "row">
                <label class="flex flex-col" for="fullName">
                  <span class="font-semibold"> FULL NAME:</span>
                  <input  id="fullName"
                     style ="width: 100%;
                             padding: 12px 20px;
                             margin: 8px 0;
                             box-sizing: border-box;
                             border: 2px solid black;
                             border-radius: 4px;"
                    type= "text"
                    v-model= "fullName"
                  />
                </label>
          </div>

         <div class = "row">
          <label class="flex flex-col" for="email">
            <span class="font-semibold"> Email Address :</span>
            <input  id="email"
               style ="width: 100%;
                       padding: 12px 20px;
                       margin: 8px 0;
                       box-sizing: border-box;
                       border: 2px solid black;
                       border-radius: 4px;"
              type="email"
              placeholder="example@gmail.com"
              v-model="email"
            />
          </label>
         </div>


         <div class = "row">
           <label class="flex flex-col" for="password" >
             <span class="font-semibold" >Password: </span>
             <input id="password"
                style ="width: 100%;
                                       padding: 12px 20px;
                                       margin: 8px 0;
                                       box-sizing: border-box;
                                       border: 2px solid black;
                                       border-radius: 4px;"
                type="password"
                v-model="password"
             />
          </label>
        </div>

         <div class="row">
            <button type="submit" class="py-3 text-center w-full font-bold rounded-lg" >Sign Up</button>
         </div>
      </form>


      <div>
        <span class="font-semibold">I'am ready a member. </span>
        <span class="m1-1">
            <router-link
              :to="{name:'Login',params:{}}"
              class="text-primary" font-bold>Sign In </router-link>
        </span>
      </div>


     </div>
  </div>
  </main>
</template>


<script>
  import { ref } from "vue";
  import {useSignUp} from "@/composables/useSignUp";

  export default {
     setup(){
          const {error, isPending, signup} = useSignUp();

          const fullName = ref("");
          const email = ref("");
          const password = ref("");

          async function onSubmit(){
            console.log('123');
            console.log({fullName , email, password});
            await signup(email.value , password.value);
          }

          return {fullName , email , password ,isPending,error, onSubmit};
      },
  };
</script>
