body{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}


@font-face {
  font-family: "t2ico";
  src: url("../fonts/t2ico.eot?84r94p");
  src: url("../fonts/t2ico.eot?84r94p#iefix") format("embedded-opentype"),
  url("../fonts/t2ico.ttf?84r94p") format("truetype"),
  url("../fonts/t2ico.woff?84r94p") format("woff"),
  url("../fonts/t2ico.svg?84r94p#t2ico") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "t2ico" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t2ico-users:before {
  content: "\e915";
  color: #363853;
}
.t2ico-arrow-right:before {
  content: "\e916";
  color: #363853;
}
.t2ico-calendar:before {
  content: "\e917";
  color: #363853;
}
.t2ico-camera:before {
  content: "\e918";
  color: #363853;
}
.t2ico-category:before {
  content: "\e919";
  color: #363853;
}
.t2ico-chart:before {
  content: "\e91a";
  color: #363853;
}
.t2ico-document:before {
  content: "\e91b";
  color: #363853;
}
.t2ico-filter:before {
  content: "\e91c";
  color: #363853;
}
.t2ico-info-square:before {
  content: "\e91d";
  color: #363853;
}
.t2ico-location:before {
  content: "\e91e";
  color: #363853;
}
.t2ico-logout:before {
  content: "\e91f";
  color: #363853;
}
.t2ico-notification:before {
  content: "\e920";
  color: #363853;
}
.t2ico-plus:before {
  content: "\e921";
  color: #363853;
}
.t2ico-presentation:before {
  content: "\e922";
  color: #363853;
}
.t2ico-profile:before {
  content: "\e923";
  color: #363853;
}
.t2ico-setting:before {
  content: "\e924";
  color: #363853;
}
.t2ico-lock:before {
  content: "\e925";
  color: #363853;
}
.t2ico-ticket-star:before {
  content: "\e926";
  color: #363853;
}
.t2ico-trending-down:before {
  content: "\e927";
  color: #363853;
}
.t2ico-trending-up:before {
  content: "\e928";
  color: #363853;
}
.t2ico-wallet:before {
  content: "\e929";
  color: #363853;
}
